[submodule "modules/zimfw"]
	path = modules/zimfw
	url = git@github.com:zimfw/zimfw.git
[submodule "modules/z"]
	path = modules/z
	url = git@github.com:rupa/z.git
[submodule "modules/k"]
	path = modules/k
	url = git@github.com:supercrabtree/k